// Profile color
$profile: #00cc99;
$profile_dark: darken($profile, 10%);
$footer: #2F3958;

// Area (blip) colors
$techniques: #D96221; //#0096A4;
$tools: #AC162C; //#7DB58D;
$platforms: #56267A; //#EC7632;
$frameworks: #0071BC; //#A13F52;


